* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0px;
    background-image: url(./Imagenes/fondo.webp);
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction:column
}

.text-container{
    margin-bottom: 10px;
}

.text-container .titulo{
    font-size: 90px;
    color: white;
}

.fondo {
    background-image: url(./Imagenes/cielo.webp);
    /*background-color: aqua;*/
    height: 800px;
    width: 800px;
    border: 10px grey solid;
    position: relative;
}

.casa {
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.techo-contenedor {
    width: 400px;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
}

.planta-baja{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techo {
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 300px solid #b88d45; 
}

.ventana{
    width: 80px;
    height: 80px;
    background-image: url(./Imagenes/ventana.webp);
    border-radius: 50%;
    position: absolute;
    top: 200px;       
}

.bajo-contenedor {
    width: 400px;
    height: 350px;
    background-image: url(./Imagenes/ladrillo.webp);
    display: flex;
    justify-content: center;
}

.pasto {
    background-image: url(./Imagenes/pasto.webp);
    height: 100px;
    width: 800px;
}

.puerta {
    width: 150px;
    height: 220px;
    background-image: url(./Imagenes/puerta.webp);
    margin-top: auto;
}

.pomo {
    width: 30px;
    height: 30px;
    background-image: url(./Imagenes/metal.webp);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 10px;
    border: 1px white solid;
}

.sol {
    height: 150px;
    width: 150px;
    background-image: url(./Imagenes/sol.webp);
    border-radius: 50%;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    z-index: 1;
}

.solfondo {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    margin-left: 25px;
    margin-top: 25px;
    opacity: 40%;
    z-index: 0;
}